* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

/* @font-face {
    font-family: Operator Mono Book;
    src: url(/fonts/OperatorMono-Book.otf);
} */

body {
  font-family: 'Operator Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
