* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

/* @font-face {
    font-family: Operator Mono Book;
    src: url(/fonts/OperatorMono-Book.otf);
} */

body {
  font-family: 'Operator Mono', 'Inconsolata', Consolas, Monaco, 'Andale Mono',
    'Ubuntu Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Operator Mono', 'Inconsolata', Consolas, Monaco, 'Andale Mono',
    'Ubuntu Mono', monospace;
}
